MVCbansach/Service References/ProductCategoryService/ProductCategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/productcategory?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/productcategory?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/productcategory?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookStoreOnline.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductCategory_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_findById_InputMessage">
    <wsdl:part name="parameters" element="tns:findById" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_findById_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_insert_InputMessage">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_findByParentId_InputMessage">
    <wsdl:part name="parameters" element="tns:findByParentId" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_findByParentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByParentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_findByShowOnHome_InputMessage">
    <wsdl:part name="parameters" element="tns:findByShowOnHome" />
  </wsdl:message>
  <wsdl:message name="IProductCategory_findByShowOnHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByShowOnHomeResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductCategory">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/findAll" message="tns:IProductCategory_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/findAllResponse" message="tns:IProductCategory_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/findById" message="tns:IProductCategory_findById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/findByIdResponse" message="tns:IProductCategory_findById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/insert" message="tns:IProductCategory_insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/insertResponse" message="tns:IProductCategory_insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/update" message="tns:IProductCategory_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/updateResponse" message="tns:IProductCategory_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/delete" message="tns:IProductCategory_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_ProductCategory/deleteResponse" message="tns:IProductCategory_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findByParentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCategory/findByParentId" message="tns:IProductCategory_findByParentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCategory/findByParentIdResponse" message="tns:IProductCategory_findByParentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findByShowOnHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCategory/findByShowOnHome" message="tns:IProductCategory_findByShowOnHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCategory/findByShowOnHomeResponse" message="tns:IProductCategory_findByShowOnHome_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductCategory" type="tns:IProductCategory">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IModelOf_ProductCategory/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation soapAction="http://tempuri.org/IModelOf_ProductCategory/findById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://tempuri.org/IModelOf_ProductCategory/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IModelOf_ProductCategory/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IModelOf_ProductCategory/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByParentId">
      <soap:operation soapAction="http://tempuri.org/IProductCategory/findByParentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByShowOnHome">
      <soap:operation soapAction="http://tempuri.org/IProductCategory/findByShowOnHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductCategoryService">
    <wsdl:port name="BasicHttpBinding_IProductCategory" binding="tns:BasicHttpBinding_IProductCategory">
      <soap:address location="http://localhost:8090/productcategory/ProductCategoryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>