MVCbansach/Service References/OrderService/order2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookStoreOnline.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookStoreOnline.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingMethod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OderDetail" nillable="true" type="tns:OderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOderDetail" nillable="true" type="tns:ArrayOfOderDetail" />
  <xs:complexType name="OderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" type="xs:long" />
      <xs:element minOccurs="0" name="ProductID" type="xs:long" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OderDetail" nillable="true" type="tns:OderDetail" />
</xs:schema>