MVCbansach/Service References/OrderService/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/order?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/order?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/order?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookStoreOnline.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrder_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IOrder_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_findById_InputMessage">
    <wsdl:part name="parameters" element="tns:findById" />
  </wsdl:message>
  <wsdl:message name="IOrder_findById_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_findDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:findDetail" />
  </wsdl:message>
  <wsdl:message name="IOrder_findDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:findDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_Order_InputMessage">
    <wsdl:part name="parameters" element="tns:Order" />
  </wsdl:message>
  <wsdl:message name="IOrder_Order_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrder">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/findAll" message="tns:IOrder_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/findAllResponse" message="tns:IOrder_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/findById" message="tns:IOrder_findById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/findByIdResponse" message="tns:IOrder_findById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/findDetail" message="tns:IOrder_findDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/findDetailResponse" message="tns:IOrder_findDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Order">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/Order" message="tns:IOrder_Order_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/OrderResponse" message="tns:IOrder_Order_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrder" type="tns:IOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IOrder/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation soapAction="http://tempuri.org/IOrder/findById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDetail">
      <soap:operation soapAction="http://tempuri.org/IOrder/findDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order">
      <soap:operation soapAction="http://tempuri.org/IOrder/Order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrder" binding="tns:BasicHttpBinding_IOrder">
      <soap:address location="http://localhost:8090/order/OrderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>