MVCbansach/Service References/ProductService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/product?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/product?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/product?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookStoreService.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduct_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IProduct_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_findById_InputMessage">
    <wsdl:part name="parameters" element="tns:findById" />
  </wsdl:message>
  <wsdl:message name="IProduct_findById_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_insert_InputMessage">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="IProduct_insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IProduct_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IProduct_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_findProuctsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:findProuctsByCategory" />
  </wsdl:message>
  <wsdl:message name="IProduct_findProuctsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:findProuctsByCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduct">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_Product/findAll" message="tns:IProduct_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_Product/findAllResponse" message="tns:IProduct_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_Product/findById" message="tns:IProduct_findById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_Product/findByIdResponse" message="tns:IProduct_findById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_Product/insert" message="tns:IProduct_insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_Product/insertResponse" message="tns:IProduct_insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_Product/update" message="tns:IProduct_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_Product/updateResponse" message="tns:IProduct_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelOf_Product/delete" message="tns:IProduct_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelOf_Product/deleteResponse" message="tns:IProduct_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findProuctsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/findProuctsByCategory" message="tns:IProduct_findProuctsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/findProuctsByCategoryResponse" message="tns:IProduct_findProuctsByCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProduct" type="tns:IProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IModelOf_Product/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation soapAction="http://tempuri.org/IModelOf_Product/findById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://tempuri.org/IModelOf_Product/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IModelOf_Product/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IModelOf_Product/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findProuctsByCategory">
      <soap:operation soapAction="http://tempuri.org/IProduct/findProuctsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProduct" binding="tns:BasicHttpBinding_IProduct">
      <soap:address location="http://localhost:8090/product/product" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>